name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install flake8 pytest autopep8

      - name: Auto-fix formatting
        run: autopep8 --in-place --aggressive --aggressive app.py test_app.py

      - name: Run Linting
        run: flake8 .

      - name: Run Tests
        run: pytest
